In [1]:
import numpy as np
import pandas as pd

# Load Data

In [56]:
#load data
#GVA DATA
GVA_whole = pd.read_csv("Gun Violence Archive - 20160101- 20220629.csv") #from Sharon at GVA
GVA1 = pd.read_csv("GVA_first_half.csv") #first half of GVA_whole... don't need
GVA2 = pd.read_csv("GVA_second_half.csv") #second half of GVA_whole... don't need
GVA_online = pd.read_csv("GVA070822.csv") #downloaded today but not complete (need to get the right dataset)... only 2000 rows

In [34]:
#political spending data
PS_spend_by_election = pd.DataFrame(pd.read_excel("2020PoliticalSpendingData.xlsx", sheet_name = "Spend by Election", header = 1))
PS_spend_by_advertiser = pd.DataFrame(pd.read_excel("2020PoliticalSpendingData.xlsx", sheet_name = "Spend by Advertiser"))
PS_spend_by_party = pd.DataFrame(pd.read_excel("2020PoliticalSpendingData.xlsx", sheet_name = "Spend by Party"))
PS_spend_by_state = pd.DataFrame(pd.read_excel("2020PoliticalSpendingData.xlsx", sheet_name = "Spend by State"))

## GVA Data

In [7]:
GVA_whole.head()

,Incident Id,Date,State,City,Business or School,Address,Latitude,Longitude,Congressional District,Name,Gender,Age,Age Group,Type,Participant Status,Incident Characteristics
0,2343501,6/29/2022,Ohio,Cincinnati,NaN,1900 block of N Westwood Blvd,39.1252,-84.5565,1.0,NaN,NaN,NaN,NaN,victim,Injured,Shot - Wounded/Injured
1,2343438,6/29/2022,Louisiana,Shreveport,Shell,5454 W 70th St,32.4421,-93.8448,4.0,NaN,NaN,NaN,NaN,victim,Injured,Shot - Wounded/Injured
2,2343391,6/29/2022,Pennsylvania,Philadelphia,NaN,2417 Welsh Rd,40.0722,-75.0314,2.0,NaN,NaN,NaN,NaN,victim,Injured,Shot - Wounded/Injured
3,2343391,6/29/2022,Pennsylvania,Philadelphia,NaN,2417 Welsh Rd,40.0722,-75.0314,2.0,NaN,NaN,NaN,NaN,victim,Injured,Shot - Wounded/Injured
4,2343382,6/29/2022,North Carolina,Charlotte,NaN,2900 block of Westbury Lake Dr,35.3364,-80.7867,12.0,NaN,NaN,NaN,NaN,victim,Killed,"Shot - Dead (murder, accidental, suicide)"

In [73]:
#lower case column names
GVA_whole = GVA_whole.rename(columns = str.lower)
GVA_whole

,incident id,date,state,city,business or school,address,latitude,longitude,congressional district,name,gender,age,age group,type,participant status,incident characteristics
0,2343501,6/29/2022,Ohio,Cincinnati,NaN,1900 block of N Westwood Blvd,39.1252,-84.5565,1.0,NaN,NaN,NaN,NaN,victim,Injured,Shot - Wounded/Injured
1,2343438,6/29/2022,Louisiana,Shreveport,Shell,5454 W 70th St,32.4421,-93.8448,4.0,NaN,NaN,NaN,NaN,victim,Injured,Shot - Wounded/Injured
2,2343391,6/29/2022,Pennsylvania,Philadelphia,NaN,2417 Welsh Rd,40.0722,-75.0314,2.0,NaN,NaN,NaN,NaN,victim,Injured,Shot - Wounded/Injured
3,2343391,6/29/2022,Pennsylvania,Philadelphia,NaN,2417 Welsh Rd,40.0722,-75.0314,2.0,NaN,NaN,NaN,NaN,victim,Injured,Shot - Wounded/Injured
4,2343382,6/29/2022,North Carolina,Charlotte,NaN,2900 block of Westbury Lake Dr,35.3364,-80.7867,12.0,NaN,NaN,NaN,NaN,victim,Killed,"Shot - Dead (murder, accidental, suicide)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331016,477510,1/1/2016,Colorado,Colorado Springs,NaN,200 block of Cunningham Dr,38.7637,-104.7440,5.0,NaN,male,NaN,Adult 18+,victim,Injured,"Shot - Wounded/Injured,House party / Block Par..."
331017,476682,1/1/2016,Pennsylvania,Spring Grove,NaN,800 block of Jackson Square Rd,39.9032,-76.9125,11.0,NaN,NaN,NaN,Adult 18+,victim,Killed,"Shot - Dead (murder, accidental, suicide),Suic..."
331018,478044,1/1/2016,Washington,Parker,NaN,Parker Street,46.5045,-120.4680,4.0,NaN,male,37.0,Adult 18+,victim,Injured,Shot - Wounded/Injured
331019,478733,1/1/2016,Michigan,Detroit,NaN,McNichols,42.4170,-83.1539,14.0,NaN,male,21.0,Adult 18+,victim,Injured,"Shot - Wounded/Injured,Road rage"
331020,477000,1/1/2016,Massachusetts,Boston,NaN,Fairmount Street,42.2802,-71.0759,7.0,NaN,female,25.0,Adult 18+,victim,Injured,Shot - Wounded/Injured

In [70]:
GVA_whole.columns

Index(['Incident Id', 'Date', 'State', 'City', 'Business or School', 'Address',
       'Latitude', 'Longitude', 'Congressional District', 'Name', 'Gender',
       'Age', 'Age Group', 'Type', 'Participant Status',
       'Incident Characteristics'],
      dtype='object')

In [64]:
#GVA_whole[GVA_whole['Date'] == '6/29/2022']

In [8]:
GVA_whole.shape

(331021, 16)

In [39]:
GVA1.shape[0] + GVA2.shape[0] #don't need to use GVA1 or GVA2

331021

In [57]:
#remove last column
GVA_online = GVA_online[['Incident ID','Incident Date','State','City Or County','Address','# Killed','# Injured']]

In [58]:
#lower case column names
GVA_online = GVA_online.rename(columns = str.lower)

In [59]:
#remove spaces from column names
GVA_online.columns = GVA_online.columns.str.replace(" ","")

In [66]:
#GVA_online[GVA_online['incidentdate'] == 'June 29, 2022']
GVA_online

,incidentid,incidentdate,state,cityorcounty,address,#killed,#injured
0,2353847,"July 7, 2022",Illinois,Chicago,2800 block of W Polk St,0,4
1,2352780,"July 6, 2022",Florida,Tampa,Courtland St N and Chelsea St E,0,4
2,2352444,"July 6, 2022",Illinois,Chicago,1820 W Maypole Ave,0,4
3,2352342,"July 5, 2022",Ohio,Steubenville,601 South St,0,4
4,2349853,"July 5, 2022",Indiana,Gary,1900 block of Missouri St,3,7
...,...,...,...,...,...,...,...
1995,1337498,"February 28, 2019",California,Oakland,9755 Edes Ave,1,3
1996,1333480,"February 22, 2019",Alabama,Birmingham,1100 block of Carnation Dr,2,2
1997,1331974,"February 21, 2019",Maryland,Baltimore,500 block of Bloom St,1,4
1998,1332507,"February 21, 2019",Kentucky,Elizabethtown,600 N Miles St,2,2
1999,1332429,"February 21, 2019",Texas,Houston,12800 block of Eastbrook Dr,2,2

In [75]:
GVA_combo = pd.merge(left = GVA_online, right = GVA_whole, how = 'left', left_on = ['state','cityorcounty'], right_on = ['state','city'])
#GVA_combo

In [77]:
#GVA_combo.columns

Index(['incidentid', 'incidentdate', 'state', 'cityorcounty', 'address_x',
       '#killed', '#injured', 'incident id', 'date', 'city',
       'business or school', 'address_y', 'latitude', 'longitude',
       'congressional district', 'name', 'gender', 'age', 'age group', 'type',
       'participant status', 'incident characteristics'],
      dtype='object')

In [80]:
#This is wrong
GVA_combo = GVA_combo[['incidentid', 'incidentdate', 'state', 'cityorcounty', 'address_x',
       '#killed', '#injured','congressional district']]
GVA_combo

,incidentid,incidentdate,state,cityorcounty,address_x,#killed,#injured,congressional district
0,2353847,"July 7, 2022",Illinois,Chicago,2800 block of W Polk St,0,4,1.0
1,2353847,"July 7, 2022",Illinois,Chicago,2800 block of W Polk St,0,4,2.0
2,2353847,"July 7, 2022",Illinois,Chicago,2800 block of W Polk St,0,4,9.0
3,2353847,"July 7, 2022",Illinois,Chicago,2800 block of W Polk St,0,4,7.0
4,2353847,"July 7, 2022",Illinois,Chicago,2800 block of W Polk St,0,4,2.0
...,...,...,...,...,...,...,...,...
7088318,1332429,"February 21, 2019",Texas,Houston,12800 block of Eastbrook Dr,2,2,29.0
7088319,1332429,"February 21, 2019",Texas,Houston,12800 block of Eastbrook Dr,2,2,18.0
7088320,1332429,"February 21, 2019",Texas,Houston,12800 block of Eastbrook Dr,2,2,18.0
7088321,1332429,"February 21, 2019",Texas,Houston,12800 block of Eastbrook Dr,2,2,18.0
7088322,1332429,"February 21, 2019",Texas,Houston,12800 block of Eastbrook Dr,2,2,9.0

## Political Spending Data

In [35]:
PS_spend_by_advertiser = PS_spend_by_advertiser[:len(PS_spend_by_advertiser)-1] #remove Grand Total row
PS_spend_by_advertiser.columns = ['advertiser','adtype','party','spend'] #lower case
PS_spend_by_advertiser

,advertiser,adtype,party,spend
0,Biden for President,Candidate,Democrat,6.445218e+08
1,Bloomberg for President,Candidate,Democrat,4.559528e+08
2,Trump for President,Candidate,Republican,3.750149e+08
3,Senate Leadership Fund,Issue Group,Republican,2.618605e+08
4,Senate Majority PAC,Issue Group,Democrat,2.288966e+08
...,...,...,...,...
2330,Numbers USA,Issue Group,Republican,0.000000e+00
2331,Lindsey Must Go PAC/The Lincoln Project,Coordinated Buy,Democrat,0.000000e+00
2332,Jones for TX CD-23,Candidate,Democrat,0.000000e+00
2333,Haynes for Hamilton County Assessor of Property,Candidate,Republican,0.000000e+00
2334,Del Ray Media,Issue Group,Republican,0.000000e+00

In [36]:
PS_spend_by_election = PS_spend_by_election[:len(PS_spend_by_election)-1]
PS_spend_by_election.columns = ['election','democrat','independent','republican']
PS_spend_by_election

,election,democrat,independent,republican
0,FL Presidential 2020 General,2.289976e+08,22471.82,1.205918e+08
1,PA Presidential 2020 General,1.848976e+08,48452.96,9.382309e+07
2,NC Senate 2020 General,1.363798e+08,NaN,1.093661e+08
3,GA Senate 2020 General Runoff,1.089434e+08,NaN,1.217174e+08
4,GA Senate Special 2020 General Runoff,9.443740e+07,NaN,1.240992e+08
...,...,...,...,...
1051,IN CD-07 2020 Primary,NaN,NaN,5.747000e+01
1052,IL CD-16 2022 Primary,NaN,NaN,3.570000e+01
1053,CT CD-03 2020 Primary,2.002000e+01,NaN,NaN
1054,AR CD-02 2020 Primary,2.002000e+01,NaN,NaN
1055,NH Governor 2018 General,NaN,NaN,0.000000e+00

In [37]:
PS_spend_by_party = PS_spend_by_party[:len(PS_spend_by_party)-1]
PS_spend_by_party.columns = ['party','spend']
PS_spend_by_party

         party         spend
0     Democrat  4.344752e+09
1   Republican  2.780686e+09
2  Independent  8.171371e+08

In [38]:
PS_spend_by_state = PS_spend_by_state[:len(PS_spend_by_state)-1]
PS_spend_by_state.columns = ['state','spend']
PS_spend_by_state

   state         spend
0     GA  7.826787e+08
1     US  7.776238e+08
2     CA  6.398408e+08
3     NC  5.853729e+08
4     FL  5.257643e+08
5     PA  4.166679e+08
6     AZ  4.144502e+08
7     MI  4.036382e+08
8     TX  3.698918e+08
9     IA  3.476411e+08
10    SC  2.265783e+08
11    MT  2.093844e+08
12    WI  1.973555e+08
13    ME  1.902969e+08
14    NY  1.868596e+08
15    IL  1.572602e+08
16    CO  1.567494e+08
17    KY  1.265812e+08
18    MN  1.226707e+08
19    MO  9.300927e+07
20    OH  9.294724e+07
21    MA  8.359869e+07
22    KS  8.100981e+07
23    VA  7.810055e+07
24    NV  7.449374e+07
25    NJ  5.661301e+07
26    AL  5.275277e+07
27    NH  4.733886e+07
28    AK  4.330162e+07
29    WA  4.293872e+07
30    NM  4.184009e+07
31    OK  3.982039e+07
32    TN  3.571411e+07
33    OR  3.489949e+07
34    NE  3.134177e+07
35    UT  2.945248e+07
36    IN  2.891641e+07
37    AR  1.924167e+07
38    WV  1.667719e+07
39    DC  1.492011e+07
40    MS  1.488887e+07
41    LA  1.314738e+07
42    MD  1.096357e+07
43    VT  4.477786e+06
44    HI  4.141398e+06
45    CT  3.897325e+06
46    ID  3.595138e+06
47    ND  2.721550e+06
48    DE  2.465499e+06
49    RI  2.319719e+06
50    SD  1.834972e+06
51    WY  1.281882e+06
52    PR  5.955931e+05
53    GU  1.004373e+04