In [1]:
import numpy as np
import pandas as pd

# Load Data

In [85]:
#load data
#GVA DATA
GVA_whole = pd.read_csv("Gun Violence Archive - 20160101- 20220629.csv") #from Sharon at GVA
GVA1 = pd.read_csv("GVA_first_half.csv") #first half of GVA_whole... don't need
GVA2 = pd.read_csv("GVA_second_half.csv") #second half of GVA_whole... don't need
GVA_online = pd.read_csv("GVA070822.csv") #downloaded today but not complete (need to get the right dataset)... only 2000 rows

In [3]:
#political spending data
PS_spend_by_election = pd.DataFrame(pd.read_excel("2020PoliticalSpendingData.xlsx", sheet_name = "Spend by Election", header = 1))
PS_spend_by_advertiser = pd.DataFrame(pd.read_excel("2020PoliticalSpendingData.xlsx", sheet_name = "Spend by Advertiser"))
PS_spend_by_party = pd.DataFrame(pd.read_excel("2020PoliticalSpendingData.xlsx", sheet_name = "Spend by Party"))
PS_spend_by_state = pd.DataFrame(pd.read_excel("2020PoliticalSpendingData.xlsx", sheet_name = "Spend by State"))

## GVA Data

In [4]:
GVA_whole.head()

,Incident Id,Date,State,City,Business or School,Address,Latitude,Longitude,Congressional District,Name,Gender,Age,Age Group,Type,Participant Status,Incident Characteristics
0,2343501,6/29/2022,Ohio,Cincinnati,NaN,1900 block of N Westwood Blvd,39.1252,-84.5565,1.0,NaN,NaN,NaN,NaN,victim,Injured,Shot - Wounded/Injured
1,2343438,6/29/2022,Louisiana,Shreveport,Shell,5454 W 70th St,32.4421,-93.8448,4.0,NaN,NaN,NaN,NaN,victim,Injured,Shot - Wounded/Injured
2,2343391,6/29/2022,Pennsylvania,Philadelphia,NaN,2417 Welsh Rd,40.0722,-75.0314,2.0,NaN,NaN,NaN,NaN,victim,Injured,Shot - Wounded/Injured
3,2343391,6/29/2022,Pennsylvania,Philadelphia,NaN,2417 Welsh Rd,40.0722,-75.0314,2.0,NaN,NaN,NaN,NaN,victim,Injured,Shot - Wounded/Injured
4,2343382,6/29/2022,North Carolina,Charlotte,NaN,2900 block of Westbury Lake Dr,35.3364,-80.7867,12.0,NaN,NaN,NaN,NaN,victim,Killed,"Shot - Dead (murder, accidental, suicide)"

In [5]:
#lower case column names
GVA_whole = GVA_whole.rename(columns = str.lower)
GVA_whole

,incident id,date,state,city,business or school,address,latitude,longitude,congressional district,name,gender,age,age group,type,participant status,incident characteristics
0,2343501,6/29/2022,Ohio,Cincinnati,NaN,1900 block of N Westwood Blvd,39.1252,-84.5565,1.0,NaN,NaN,NaN,NaN,victim,Injured,Shot - Wounded/Injured
1,2343438,6/29/2022,Louisiana,Shreveport,Shell,5454 W 70th St,32.4421,-93.8448,4.0,NaN,NaN,NaN,NaN,victim,Injured,Shot - Wounded/Injured
2,2343391,6/29/2022,Pennsylvania,Philadelphia,NaN,2417 Welsh Rd,40.0722,-75.0314,2.0,NaN,NaN,NaN,NaN,victim,Injured,Shot - Wounded/Injured
3,2343391,6/29/2022,Pennsylvania,Philadelphia,NaN,2417 Welsh Rd,40.0722,-75.0314,2.0,NaN,NaN,NaN,NaN,victim,Injured,Shot - Wounded/Injured
4,2343382,6/29/2022,North Carolina,Charlotte,NaN,2900 block of Westbury Lake Dr,35.3364,-80.7867,12.0,NaN,NaN,NaN,NaN,victim,Killed,"Shot - Dead (murder, accidental, suicide)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331016,477510,1/1/2016,Colorado,Colorado Springs,NaN,200 block of Cunningham Dr,38.7637,-104.7440,5.0,NaN,male,NaN,Adult 18+,victim,Injured,"Shot - Wounded/Injured,House party / Block Par..."
331017,476682,1/1/2016,Pennsylvania,Spring Grove,NaN,800 block of Jackson Square Rd,39.9032,-76.9125,11.0,NaN,NaN,NaN,Adult 18+,victim,Killed,"Shot - Dead (murder, accidental, suicide),Suic..."
331018,478044,1/1/2016,Washington,Parker,NaN,Parker Street,46.5045,-120.4680,4.0,NaN,male,37.0,Adult 18+,victim,Injured,Shot - Wounded/Injured
331019,478733,1/1/2016,Michigan,Detroit,NaN,McNichols,42.4170,-83.1539,14.0,NaN,male,21.0,Adult 18+,victim,Injured,"Shot - Wounded/Injured,Road rage"
331020,477000,1/1/2016,Massachusetts,Boston,NaN,Fairmount Street,42.2802,-71.0759,7.0,NaN,female,25.0,Adult 18+,victim,Injured,Shot - Wounded/Injured

In [6]:
GVA_whole.columns

Index(['incident id', 'date', 'state', 'city', 'business or school', 'address',
       'latitude', 'longitude', 'congressional district', 'name', 'gender',
       'age', 'age group', 'type', 'participant status',
       'incident characteristics'],
      dtype='object')

In [86]:
GVA_whole[GVA_whole['Date'] == '6/29/2022']

,Incident Id,Date,State,City,Business or School,Address,Latitude,Longitude,Congressional District,Name,Gender,Age,Age Group,Type,Participant Status,Incident Characteristics
0,2343501,6/29/2022,Ohio,Cincinnati,NaN,1900 block of N Westwood Blvd,39.1252,-84.5565,1.0,NaN,NaN,NaN,NaN,victim,Injured,Shot - Wounded/Injured
1,2343438,6/29/2022,Louisiana,Shreveport,Shell,5454 W 70th St,32.4421,-93.8448,4.0,NaN,NaN,NaN,NaN,victim,Injured,Shot - Wounded/Injured
2,2343391,6/29/2022,Pennsylvania,Philadelphia,NaN,2417 Welsh Rd,40.0722,-75.0314,2.0,NaN,NaN,NaN,NaN,victim,Injured,Shot - Wounded/Injured
3,2343391,6/29/2022,Pennsylvania,Philadelphia,NaN,2417 Welsh Rd,40.0722,-75.0314,2.0,NaN,NaN,NaN,NaN,victim,Injured,Shot - Wounded/Injured
4,2343382,6/29/2022,North Carolina,Charlotte,NaN,2900 block of Westbury Lake Dr,35.3364,-80.7867,12.0,NaN,NaN,NaN,NaN,victim,Killed,"Shot - Dead (murder, accidental, suicide)"

In [15]:
GVA_whole.shape

(331021, 16)

In [9]:
GVA1.shape[0] + GVA2.shape[0] #don't need to use GVA1 or GVA2

331021

In [87]:
#remove last column
GVA_online = GVA_online[['Incident ID','Incident Date','State','City Or County','Address','# Killed','# Injured']]

In [88]:
#lower case column names
GVA_online = GVA_online.rename(columns = str.lower)

In [89]:
#remove spaces from column names
GVA_online.columns = GVA_online.columns.str.replace(" ","")

In [91]:
#GVA_online[GVA_online['incidentdate'] == 'June 29, 2022']
GVA_online

,incidentid,incidentdate,state,cityorcounty,address,#killed,#injured
0,2353847,"July 7, 2022",Illinois,Chicago,2800 block of W Polk St,0,4
1,2352780,"July 6, 2022",Florida,Tampa,Courtland St N and Chelsea St E,0,4
2,2352444,"July 6, 2022",Illinois,Chicago,1820 W Maypole Ave,0,4
3,2352342,"July 5, 2022",Ohio,Steubenville,601 South St,0,4
4,2349853,"July 5, 2022",Indiana,Gary,1900 block of Missouri St,3,7
...,...,...,...,...,...,...,...
1995,1337498,"February 28, 2019",California,Oakland,9755 Edes Ave,1,3
1996,1333480,"February 22, 2019",Alabama,Birmingham,1100 block of Carnation Dr,2,2
1997,1331974,"February 21, 2019",Maryland,Baltimore,500 block of Bloom St,1,4
1998,1332507,"February 21, 2019",Kentucky,Elizabethtown,600 N Miles St,2,2
1999,1332429,"February 21, 2019",Texas,Houston,12800 block of Eastbrook Dr,2,2

In [34]:
#Subset to 2020+
years = ('20', '21', '22') #create a tuple (because .str.endswith accepts a tuple of suffixes, not a list)

In [93]:
GVA_recent = GVA_online[GVA_online['incidentdate'].str.endswith(years)]

In [96]:
GVA_recent['total_involved'] = GVA_recent['#killed'] + GVA_recent['#injured']

/var/folders/wl/_nddp8196tx30wlgp66z30xr0000gn/T/ipykernel_57112/3089182800.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  GVA_recent['total_involved'] = GVA_recent['#killed'] + GVA_recent['#injured']

In [102]:
accidents = pd.DataFrame(GVA_recent.groupby('state')['total_involved'].sum()) #might not need to create a dataframe

In [103]:
accidents

                      total_involved
state
Alabama                          195
Alaska                            18
Arizona                          106
Arkansas                         127
California                       557
Colorado                         168
Connecticut                       50
Delaware                          43
District of Columbia             156
Florida                          413
Georgia                          267
Idaho                             11
Illinois                         948
Indiana                          155
Iowa                              60
Kansas                            23
Kentucky                          95
Louisiana                        389
Maine                              4
Maryland                         224
Massachusetts                     61
Michigan                         270
Minnesota                        126
Mississippi                      187
Missouri                         235
Nebraska                          25
Nevada                            81
New Hampshire                      4
New Jersey                       166
New Mexico                        21
New York                         442
North Carolina                   254
Ohio                             333
Oklahoma                          32
Oregon                            66
Pennsylvania                     402
Rhode Island                      13
South Carolina                   310
South Dakota                       9
Tennessee                        222
Texas                            661
Utah                              10
Virginia                         178
Washington                        84
West Virginia                     21
Wisconsin                        154

In [104]:
# Resetting index so I can rename the columns
accidents = accidents.reset_index()

In [105]:
accidents

                   state  total_involved
0                Alabama             195
1                 Alaska              18
2                Arizona             106
3               Arkansas             127
4             California             557
5               Colorado             168
6            Connecticut              50
7               Delaware              43
8   District of Columbia             156
9                Florida             413
10               Georgia             267
11                 Idaho              11
12              Illinois             948
13               Indiana             155
14                  Iowa              60
15                Kansas              23
16              Kentucky              95
17             Louisiana             389
18                 Maine               4
19              Maryland             224
20         Massachusetts              61
21              Michigan             270
22             Minnesota             126
23           Mississippi             187
24              Missouri             235
25              Nebraska              25
26                Nevada              81
27         New Hampshire               4
28            New Jersey             166
29            New Mexico              21
30              New York             442
31        North Carolina             254
32                  Ohio             333
33              Oklahoma              32
34                Oregon              66
35          Pennsylvania             402
36          Rhode Island              13
37        South Carolina             310
38          South Dakota               9
39             Tennessee             222
40                 Texas             661
41                  Utah              10
42              Virginia             178
43            Washington              84
44         West Virginia              21
45             Wisconsin             154

In [106]:
accidents.shape

(46, 2)

## Political Spending Data

In [107]:
PS_spend_by_election = PS_spend_by_election[:len(PS_spend_by_election)-1]
PS_spend_by_election.columns = ['election','democrat','independent','republican']
PS_spend_by_election

,election,democrat,independent,republican
0,FL Presidential 2020 General,2.289976e+08,22471.82,1.205918e+08
1,PA Presidential 2020 General,1.848976e+08,48452.96,9.382309e+07
2,NC Senate 2020 General,1.363798e+08,NaN,1.093661e+08
3,GA Senate 2020 General Runoff,1.089434e+08,NaN,1.217174e+08
4,GA Senate Special 2020 General Runoff,9.443740e+07,NaN,1.240992e+08
...,...,...,...,...
1051,IN CD-07 2020 Primary,NaN,NaN,5.747000e+01
1052,IL CD-16 2022 Primary,NaN,NaN,3.570000e+01
1053,CT CD-03 2020 Primary,2.002000e+01,NaN,NaN
1054,AR CD-02 2020 Primary,2.002000e+01,NaN,NaN
1055,NH Governor 2018 General,NaN,NaN,0.000000e+00

In [108]:
PS_spend_by_election[['state','election']] = PS_spend_by_election.election.str.split(' ', n = 1, expand = True)
PS_spend_by_election

,election,democrat,independent,republican,state
0,Presidential 2020 General,2.289976e+08,22471.82,1.205918e+08,FL
1,Presidential 2020 General,1.848976e+08,48452.96,9.382309e+07,PA
2,Senate 2020 General,1.363798e+08,NaN,1.093661e+08,NC
3,Senate 2020 General Runoff,1.089434e+08,NaN,1.217174e+08,GA
4,Senate Special 2020 General Runoff,9.443740e+07,NaN,1.240992e+08,GA
...,...,...,...,...,...
1051,CD-07 2020 Primary,NaN,NaN,5.747000e+01,IN
1052,CD-16 2022 Primary,NaN,NaN,3.570000e+01,IL
1053,CD-03 2020 Primary,2.002000e+01,NaN,NaN,CT
1054,CD-02 2020 Primary,2.002000e+01,NaN,NaN,AR
1055,Governor 2018 General,NaN,NaN,0.000000e+00,NH

In [109]:
PS_spend_by_election.election = PS_spend_by_election.election.str.lower()
PS_spend_by_election_sub = PS_spend_by_election[PS_spend_by_election['election'].str.contains('presidential')]
PS_spend_by_election_sub = PS_spend_by_election_sub[PS_spend_by_election_sub['election'].str.contains('general')]

In [110]:
PS_spend_by_election_sub = PS_spend_by_election_sub.reset_index(drop = True)

                     election      democrat  independent    republican state
0   presidential 2020 general  2.289976e+08     22471.82  1.205918e+08    FL
1   presidential 2020 general  1.848976e+08     48452.96  9.382309e+07    PA
2   presidential 2020 general  1.105317e+08     59791.69  9.021261e+07    US
3   presidential 2020 general  7.512583e+07     11483.99  9.218555e+07    NC
4   presidential 2020 general  1.249065e+08     11965.59  4.080868e+07    MI
5   presidential 2020 general  9.079025e+07     25652.37  6.144790e+07    AZ
6   presidential 2020 general  8.921532e+07     14897.68  5.307374e+07    WI
7   presidential 2020 general  2.169771e+07      6239.66  4.033684e+07    GA
8   presidential 2020 general  2.662867e+07     29784.99  1.211768e+07    MN
9   presidential 2020 general  2.838334e+07      1215.83  8.082412e+06    NV
10  presidential 2020 general  1.815034e+07     38246.45  1.327238e+07    OH
11  presidential 2020 general  1.041641e+07      1270.50  2.091974e+07    IA
12  presidential 2020 general  2.122405e+07     25110.13  6.163373e+06    TX
13  presidential 2020 general  1.067421e+07     27246.44  8.769293e+06    CA
14  presidential 2020 general  7.453544e+06       117.32  2.962742e+06    DC
15  presidential 2020 general  5.333866e+06      6575.32  2.027807e+06    NE
16  presidential 2020 general  4.523100e+06     28707.82  2.328422e+06    NY
17  presidential 2020 general  4.962660e+06      1013.95  3.817818e+05    NH
18  presidential 2020 general  4.200255e+06     13726.30  1.118881e+06    CO
19  presidential 2020 general  3.681720e+06      7603.05  1.407725e+06    VA
20  presidential 2020 general  2.061235e+06       709.17  2.862870e+06    ME
21  presidential 2020 general  2.471519e+06      8026.27  1.725791e+06    WA
22  presidential 2020 general  2.040903e+06     10021.41  1.605249e+06    IL
23  presidential 2020 general  1.654253e+06      3639.51  8.714903e+05    MA
24  presidential 2020 general  8.082572e+05      8239.49  1.580081e+06    TN
25  presidential 2020 general  1.383458e+06      3083.78  9.706578e+05    NJ
26  presidential 2020 general  1.410241e+06      5372.36  6.135524e+05    MD
27  presidential 2020 general  1.271831e+06      3490.69  6.998240e+05    OR
28  presidential 2020 general  7.664237e+05     11477.90  1.194719e+06    MO
29  presidential 2020 general  6.762405e+05      9741.97  1.076926e+06    IN
30  presidential 2020 general  3.847529e+05      3018.05  1.336843e+06    AL
31  presidential 2020 general  4.988860e+05      2540.16  1.042076e+06    SC
32  presidential 2020 general  3.645108e+05      7292.24  1.082462e+06    OK
33  presidential 2020 general  3.938744e+05      5117.70  7.528516e+05    KY
34  presidential 2020 general  5.385608e+05     10965.00  5.029853e+05    UT
35  presidential 2020 general  2.617608e+05      4623.78  7.335395e+05    LA
36  presidential 2020 general  5.880892e+05      1173.41  3.885284e+05    CT
37  presidential 2020 general  3.534229e+05      1547.49  5.948244e+05    KS
38  presidential 2020 general  3.368742e+05      1554.00  5.981153e+05    AR
39  presidential 2020 general  2.724531e+05       664.09  6.288931e+05    NM
40  presidential 2020 general  1.320940e+05       998.48  5.543490e+05    MS
41  presidential 2020 general  3.810659e+05         9.87  1.587323e+05    HI
42  presidential 2020 general  1.694910e+05       795.13  3.663015e+05    ID
43  presidential 2020 general  1.357476e+05      1979.18  3.635670e+05    WV
44  presidential 2020 general  3.314447e+05          NaN  1.145013e+05    SD
45  presidential 2020 general  3.711117e+05         9.38  4.597019e+04    VT
46  presidential 2020 general  1.605183e+05       287.77  2.553528e+05    MT
47  presidential 2020 general  2.135545e+05       141.40  1.185754e+05    DE
48  presidential 2020 general  9.699815e+04       191.66  2.169688e+05    AK
49  presidential 2020 general  1.732660e+05         9.87  7.672224e+04    RI
50  presidential 2020 general  2.658250e+04          NaN  1.784718e+05    WY
51  presidential 2020 general  3.654629e+04          NaN  1.679111e+05    ND
52  presidential 2020 general  2.580000e+04          NaN           NaN    PR

In [118]:
PS_spend_by_election_sub = PS_spend_by_election_sub[['democrat', 'republican', 'state']]

In [119]:
PS_spend_by_election_sub

        democrat    republican state
0   2.289976e+08  1.205918e+08    FL
1   1.848976e+08  9.382309e+07    PA
2   1.105317e+08  9.021261e+07    US
3   7.512583e+07  9.218555e+07    NC
4   1.249065e+08  4.080868e+07    MI
5   9.079025e+07  6.144790e+07    AZ
6   8.921532e+07  5.307374e+07    WI
7   2.169771e+07  4.033684e+07    GA
8   2.662867e+07  1.211768e+07    MN
9   2.838334e+07  8.082412e+06    NV
10  1.815034e+07  1.327238e+07    OH
11  1.041641e+07  2.091974e+07    IA
12  2.122405e+07  6.163373e+06    TX
13  1.067421e+07  8.769293e+06    CA
14  7.453544e+06  2.962742e+06    DC
15  5.333866e+06  2.027807e+06    NE
16  4.523100e+06  2.328422e+06    NY
17  4.962660e+06  3.817818e+05    NH
18  4.200255e+06  1.118881e+06    CO
19  3.681720e+06  1.407725e+06    VA
20  2.061235e+06  2.862870e+06    ME
21  2.471519e+06  1.725791e+06    WA
22  2.040903e+06  1.605249e+06    IL
23  1.654253e+06  8.714903e+05    MA
24  8.082572e+05  1.580081e+06    TN
25  1.383458e+06  9.706578e+05    NJ
26  1.410241e+06  6.135524e+05    MD
27  1.271831e+06  6.998240e+05    OR
28  7.664237e+05  1.194719e+06    MO
29  6.762405e+05  1.076926e+06    IN
30  3.847529e+05  1.336843e+06    AL
31  4.988860e+05  1.042076e+06    SC
32  3.645108e+05  1.082462e+06    OK
33  3.938744e+05  7.528516e+05    KY
34  5.385608e+05  5.029853e+05    UT
35  2.617608e+05  7.335395e+05    LA
36  5.880892e+05  3.885284e+05    CT
37  3.534229e+05  5.948244e+05    KS
38  3.368742e+05  5.981153e+05    AR
39  2.724531e+05  6.288931e+05    NM
40  1.320940e+05  5.543490e+05    MS
41  3.810659e+05  1.587323e+05    HI
42  1.694910e+05  3.663015e+05    ID
43  1.357476e+05  3.635670e+05    WV
44  3.314447e+05  1.145013e+05    SD
45  3.711117e+05  4.597019e+04    VT
46  1.605183e+05  2.553528e+05    MT
47  2.135545e+05  1.185754e+05    DE
48  9.699815e+04  2.169688e+05    AK
49  1.732660e+05  7.672224e+04    RI
50  2.658250e+04  1.784718e+05    WY
51  3.654629e+04  1.679111e+05    ND
52  2.580000e+04           NaN    PR

In [115]:
state_abbs = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
    "District of Columbia": "DC",
    "American Samoa": "AS",
    "Guam": "GU",
    "Northern Mariana Islands": "MP",
    "Puerto Rico": "PR",
    "United States Minor Outlying Islands": "UM",
    "U.S. Virgin Islands": "VI",
}

In [120]:
# Mapping dictionary above to the accidents table to give it an abbreviation
accidents['abbrev']= accidents['state'].map(state_abbs)

In [121]:
accidents

                   state  total_involved abbrev
0                Alabama             195     AL
1                 Alaska              18     AK
2                Arizona             106     AZ
3               Arkansas             127     AR
4             California             557     CA
5               Colorado             168     CO
6            Connecticut              50     CT
7               Delaware              43     DE
8   District of Columbia             156     DC
9                Florida             413     FL
10               Georgia             267     GA
11                 Idaho              11     ID
12              Illinois             948     IL
13               Indiana             155     IN
14                  Iowa              60     IA
15                Kansas              23     KS
16              Kentucky              95     KY
17             Louisiana             389     LA
18                 Maine               4     ME
19              Maryland             224     MD
20         Massachusetts              61     MA
21              Michigan             270     MI
22             Minnesota             126     MN
23           Mississippi             187     MS
24              Missouri             235     MO
25              Nebraska              25     NE
26                Nevada              81     NV
27         New Hampshire               4     NH
28            New Jersey             166     NJ
29            New Mexico              21     NM
30              New York             442     NY
31        North Carolina             254     NC
32                  Ohio             333     OH
33              Oklahoma              32     OK
34                Oregon              66     OR
35          Pennsylvania             402     PA
36          Rhode Island              13     RI
37        South Carolina             310     SC
38          South Dakota               9     SD
39             Tennessee             222     TN
40                 Texas             661     TX
41                  Utah              10     UT
42              Virginia             178     VA
43            Washington              84     WA
44         West Virginia              21     WV
45             Wisconsin             154     WI

In [122]:
df = accidents.join(other = PS_spend_by_election_sub.set_index('state'), on = 'abbrev', how = 'left')

In [123]:
df

                   state  total_involved abbrev      democrat    republican
0                Alabama             195     AL  3.847529e+05  1.336843e+06
1                 Alaska              18     AK  9.699815e+04  2.169688e+05
2                Arizona             106     AZ  9.079025e+07  6.144790e+07
3               Arkansas             127     AR  3.368742e+05  5.981153e+05
4             California             557     CA  1.067421e+07  8.769293e+06
5               Colorado             168     CO  4.200255e+06  1.118881e+06
6            Connecticut              50     CT  5.880892e+05  3.885284e+05
7               Delaware              43     DE  2.135545e+05  1.185754e+05
8   District of Columbia             156     DC  7.453544e+06  2.962742e+06
9                Florida             413     FL  2.289976e+08  1.205918e+08
10               Georgia             267     GA  2.169771e+07  4.033684e+07
11                 Idaho              11     ID  1.694910e+05  3.663015e+05
12              Illinois             948     IL  2.040903e+06  1.605249e+06
13               Indiana             155     IN  6.762405e+05  1.076926e+06
14                  Iowa              60     IA  1.041641e+07  2.091974e+07
15                Kansas              23     KS  3.534229e+05  5.948244e+05
16              Kentucky              95     KY  3.938744e+05  7.528516e+05
17             Louisiana             389     LA  2.617608e+05  7.335395e+05
18                 Maine               4     ME  2.061235e+06  2.862870e+06
19              Maryland             224     MD  1.410241e+06  6.135524e+05
20         Massachusetts              61     MA  1.654253e+06  8.714903e+05
21              Michigan             270     MI  1.249065e+08  4.080868e+07
22             Minnesota             126     MN  2.662867e+07  1.211768e+07
23           Mississippi             187     MS  1.320940e+05  5.543490e+05
24              Missouri             235     MO  7.664237e+05  1.194719e+06
25              Nebraska              25     NE  5.333866e+06  2.027807e+06
26                Nevada              81     NV  2.838334e+07  8.082412e+06
27         New Hampshire               4     NH  4.962660e+06  3.817818e+05
28            New Jersey             166     NJ  1.383458e+06  9.706578e+05
29            New Mexico              21     NM  2.724531e+05  6.288931e+05
30              New York             442     NY  4.523100e+06  2.328422e+06
31        North Carolina             254     NC  7.512583e+07  9.218555e+07
32                  Ohio             333     OH  1.815034e+07  1.327238e+07
33              Oklahoma              32     OK  3.645108e+05  1.082462e+06
34                Oregon              66     OR  1.271831e+06  6.998240e+05
35          Pennsylvania             402     PA  1.848976e+08  9.382309e+07
36          Rhode Island              13     RI  1.732660e+05  7.672224e+04
37        South Carolina             310     SC  4.988860e+05  1.042076e+06
38          South Dakota               9     SD  3.314447e+05  1.145013e+05
39             Tennessee             222     TN  8.082572e+05  1.580081e+06
40                 Texas             661     TX  2.122405e+07  6.163373e+06
41                  Utah              10     UT  5.385608e+05  5.029853e+05
42              Virginia             178     VA  3.681720e+06  1.407725e+06
43            Washington              84     WA  2.471519e+06  1.725791e+06
44         West Virginia              21     WV  1.357476e+05  3.635670e+05
45             Wisconsin             154     WI  8.921532e+07  5.307374e+07

In [125]:
df.to_csv('state_level_data.csv')